* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#mode {
	font-size: 3rem;
	cursor: pointer;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	background-color: #d3e6d3fe;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Monomaniac One', sans-serif;
}

header {
	max-width: 2000px;
	margin: 0 auto;
}

main {
	max-width: 2000px;
	margin: 0 auto;
}

.hero {
	
	position: relative;
	height: auto;
}

.hero img {
    width: 100%;
    height: auto;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 40px;
	left: 150px;
	padding: 1.5rem;

}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1rem;
	font-family: 'Monomaniac One', sans-serif;
}

.headings {
	font-family: 'Monomaniac One', sans-serif;
	padding-top: 15px;
}

h1 {
	font-size: 2rem;
    padding-left: 20px;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	margin-top: 1rem;
	left: 1rem;
	z-index: 3;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #34643b;
	color: #fff;
}

.navigation li {
	display: none;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

nav {
	background-color: black;
	margin: 0 auto;
	max-width: 2000px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: large;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: #d3e6d3fe;
}

h2 {
	margin-left: 4rem;
}

.card {
	border: 1px solid black;
	background-color: #34643b;
	border-radius: 10px;
	overflow: hidden;
	margin: 16px;
	color: white;
}

.card a, .card h4, .card p {
	color: #fff;
	padding: 3px;
	font-size: large;
}



figure {
	color: white;
}

.label {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

#visits {
	font-weight: bolder;
	font-size: larger;
	margin-top: 1 rem;
}

section h3 {
	background-color: #d3e6d3fe;
	color: black;
	padding: 10px;
}

section p {
	padding: 10px;
}

section {
	margin-bottom: 26px;
}

iframe {
	margin-bottom: 2rem;
	margin: 10px auto;
	width: 100%;
}

/*--------------FORM-------------*/

form {
	margin: 21px;
	display: flex;
	flex-direction: column;
	position: relative;
}

form label.form-field {
    display: block;
    padding-top: 1rem;
}

form label.form-field input {
	display: block;
}

#form-box {
	background-color: #d3e6d3fe;
	padding: 1rem;
	margin-top: 4.25rem;
}

input,
textarea,
select {
	padding: 10px;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid navy;
	font-size: 1.1rem;
}

#btnSubmit {
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 700;
	background-color: #34643b;
	color: white;
}

label {
	color: navy;
	font-size: 16px;
}

input:focus,
textarea:focus {
	outline: none;
}

input::placeholder {
	font-size: 13px;
}

/* #formmessage {
	visibility: none;
	margin: 10px;
	padding: 0.5rem;
	color: red;
} */

#keyphrase:invalid {
	background-color: #fff0f3;
	animation: shaketext 500ms;
}

input[required] label::after {
	font-size: 10px;
	content: " *️⃣";
}

.req::after {
	font-size: 10px;
	content: " *️⃣";
}

.smaller {
	font-size: 11px;
	position: absolute;
	top: -10px;
	right: 10px;
}

@keyframes shaketext {
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
}

#record {
	display: block;
	background-color: #34643b;
	color: white;
	padding: 2rem 4rem;
}



/* 	FOOTER	 */
footer {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: black;
	max-width: 2000px;
	margin: 0 auto;
	
}