* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	background-color: #d3e6d3fe;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Monomaniac One', sans-serif;
}

header,
main {
	max-width: 800px;
	margin: 0 auto;
}

.headings {
	font-family: 'Monomaniac One', sans-serif;
	padding-top: 15px;
}

h1 {
	font-size: 2rem;
    padding-left: 20px;
}

nav {
	background-color: #5b8f63;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: #d3e6d3fe;
}

.card {
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	margin-top: 16px;
}

section h3 {
	background-color: #5b8f63;
	color: white;
	padding: 10px;
}

section p {
	padding: 10px;
}

section {
	margin-bottom: 16px;
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 16px;
	background-color: #d3e6d3fe;
	max-width: 800px;
	margin: 0 auto;
}