@media (min-width: 648px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}

	main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 16px;
		row-gap: 16px;
	}

	main h2 {
		grid-column: 1 / span 2;
	}
}